.controlPanel {
	position: absolute;
	z-index: 2;
	margin: 1em;
	height: 110px;
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	a {
		margin-bottom: .5em;
	}
	button {
		margin-bottom: .3em;
		color: #fff;
	}
	button:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}